/* 应用样式表 */
/* 作者：seek */

/*/main/*/
html, body {height:100%; margin: 0; padding: 0; }
form{
	text-indent:0; 
	word-spacing:0; 
	margin:0
	}

input{
	font-size:12px;; 
	}

td{
	font-size:12px;;
	font-family:宋体,arial;
	line-height:160%;
	color:#5c5c5c; 
	}

p {
    text-align:justify;
    text-justify:inter-ideograph;
    text-indent:2em;
    padding:0px;
    }
li {
	list-style-type: none;
}

	
/* 字体 */	
.font_white{
	font-size:12px;
	font-family:arial;
    font-weight:none;
	color:#ffffff;
	}
.font_bold{
	font-size:12px;
	font-family:arial;
    font-weight:bold;
	color:#666666;
	}
.font_bold02{
	font-size:14px;
	font-family:宋体;
    font-weight:bold;
	color:#333333;
	}
	
	
/* 链接 */
a:link{color:#333333;font-size:12px;text-decoration:none;font-weight:none;}
a:visited{
	color:#FF6600;
	font-size:12px;
	text-decoration:none;
	font-weight:none;
}
a:hover{color:#bc2e26;font-size:12px;text-decoration:none;font-weight:none;}
a:active{color:#5c5c5c;font-size:12px;text-decoration:none}

a.link_white:link{color:#ffffff;font-size:12px;text-decoration:none;font-weight:none;}
a.link_white:visited{color:#ffffff;font-size:12px;text-decoration:none;font-weight:none;}
a.link_white:hover{color:#dddddd;font-size:12px;text-decoration:none;font-weight:none;}
a.link_white:active{color:#ffffff;font-size:12px;text-decoration:none;font-weight:none;}

a.link_left_menu:link{color:#333333;font-size:12px;text-decoration:none;font-weight:none;}
a.link_left_menu:visited{color:#333333;font-size:12px;text-decoration:none;font-weight:none;}
a.link_left_menu:hover{color:#bc2e26;font-size:12px;text-decoration:none;font-weight:none;}
a.link_left_menu:active{color:#333333;font-size:12px;text-decoration:none;font-weight:none;}

/*表格背景*/
.back_bottom01{
	background:url(../images/bottom01.jpg) repeat-x; 
	text-align:center;
	height:41px; 
	}
/****************************************************/
.back_top01{
	background:url(../images/top_back01.gif) repeat-x; 
	height:128px; 
	}
.back_top02{
	background:url(../images/top_back02.gif) repeat-x; 
	height:45px; 
	width:209px;
	}
.back_top03{
	background:url(../images/top_back03.gif) no-repeat; 
	text-align:center;
	height:35px; 
	width:256px;
	}
/****************************************************/
.back_left01{
	background:url(../images/left_back01.gif) repeat-x;
	background-color:#ffffff;
	text-align:center;
	}
.back_left02{
	background:url(../images/left_back02.gif) no-repeat; 
	width:209px;
	height:43px;
	text-align:center;
	}
.back_left03{
	background:url(../images/left_back03.jpg) no-repeat; 
	height:33px;
	padding-left:30px;;
	}
/****************************************************/
.back_main01{
	background:url(../images/main_back01.gif) repeat-x; 
	background-color:#ffffff;
	text-align:center;
	}


/*线*/	

.login_input{border-bottom:1px solid #cccccc;border-left:0px;border-right:0px;border-top:0px;background:none;}

/*导航样式*/
#accordion *
{
  border:0px;
  padding:0px;
  margin:0px;
}
#accordion h3 {
	background-image: url(../images/left_back03.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 95px;
	padding-top: 5px;
	padding-left: 25px;
	font-size: 12px;
	text-align: left;
	cursor: hand;
	font-weight: normal;
	overflow: hidden;
}
#accordion div {
	overflow:visible;
	padding-top: 10px;
	height: 100%;
}
#accordion li {
	text-align: left;
	list-style-type: disc;
	list-style-position: inside;
	padding-left: 20px;
}
.beijing09 {
	background-image: url(../images/left_back03.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 95px;
	padding-top: 5px;
	padding-left: 25px;
	font-size: 12px;
	text-align: left;
	cursor: hand;
	font-weight: normal;
}
